[Desktop Entry]
Type=Application
TryExec=zvte
Exec=zvte
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;

Name=Zvte
GenericName=Terminal
